.banner {
    display: flex;
    background-color: darkgoldenrod;
    height: 5rem;
    justify-content: flex-start;
    
}

.banner__logo {
    max-height: 95%;
    margin: .1rem .5rem;
}

.banner__title {
    
}