.fishList {
    display: flex;
    background-color: mediumorchid;
    background-image:url('https://pixabay.com/get/54e3dd475753a50bf7c58d75cf2e367d1d22dfe05a50714d742e7bd3_1920.jpg');
    flex-flow: row wrap;
    flex: 2;
}

.fish {
    background-color: rgb(67, 30, 136);
    padding: .5rem;
    margin: .5rem;
    width: 20%;
    border-radius: 3px;
    border: 1px solid darkorchid;
}


.fish__picture {
    max-width: 95%;
    max-height: auto;
}

.fish__details {
    background-color: mediumorchid;
    border-radius: 3px;
}