.fishList {
    display: flex;
    background-color: mediumorchid;
    background-image:url('../images/backgroundImages/oceanWater.jpg');
    background-attachment: fixed;
    flex-flow: row wrap;
    flex: 2;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
}

.fish {
    background-color: lightcoral;
    padding: .5rem;
    margin: .5rem;
    width: 20%;
    border-radius: 3px;
    border: 1px solid darkorchid;
}


.fish__picture {
    max-width: 100%;
    max-height: auto;
    border-radius: 3px;
}

.fish__details {
    border-radius: 3px;
}