.locationList {
    background-color: mediumaquamarine;
    background-image: url('../images/backgroundImages/map.jpg');
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location {
    background-color: mediumaquamarine;
    padding: .5rem;
    margin: .5rem;
    width: 20%;
    border-radius: 3px;
}

.header--locations {
    margin: 0;
    padding: 0;
    background-color: #BADCA7;
}

.location__details {
    padding: 1rem;
}

.location__picture {
    max-width: 95%;
}