.quoteList {
    background-color: lightyellow;
    background-image: url('https://pixabay.com/get/52e9dd4b435aa914f6d1867dda213f76133edded4e507440742e79dc914ac7_1920.jpg');
    background-attachment: fixed;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.quote {
    display: flex;
    flex-flow: column;
    background-color: palegoldenrod;
    padding: 1rem;
    margin: .5rem;
    width: 20%;
    border-radius: 3px;
    border: 1px solid darkgoldenrod;
    justify-content: space-evenly;    
    align-items: center;
}

.quote__source {
    font-weight: bold;
}

.quote__image {
    flex: 1;
}

.quote__image--element {
    max-height: 10rem;
    width: auto;
    margin: .2rem;
    border-radius: 3px;
}

.quote__text {
    flex: 2;
}