.tipList {   
    background-image: url("../images/backgroundImages/sunset.jpg");
    background-attachment: fixed;
    background-color: dodgerblue;
    height: 100%;
}

.tip {
    background-color: lightskyblue;
    padding: 1rem;
    margin: .5rem;
    border-radius: 3px;
}