.tipList {   
    background-image: url("https://pixabay.com/get/5fe1dd4a435ab114fed08c7bc62b3f63143ad7e45253734b702f.jpg");
    background-attachment: fixed;
    background-color: dodgerblue;
    height: 100%;
}

.tip {
    background-color: lightskyblue;
    padding: 1rem;
    margin: .5rem;
    border-radius: 3px;
}