.tipList {   
    background-image: url("../images/backgroundImages/sunset.jpg");
    background-attachment: fixed;
    background-color: dodgerblue;
    height: 100%;
    margin-left: 1rem;
    align-items: flex-start;
}

.header--tips {
    margin: 0.5rem;
    flex-basis: 2%;
    padding: 0.75rem;

}

.tip {
    background-color: mediumaquamarine;
    padding: .2rem;
    margin: .5rem;
    border-radius: 3px;
    border: 1px solid black;
}

.tip:hover {
    transform: scale(1.5);
}